openapi: 3.0.1
info:
  title: Swagger UI for the Bored API
  description: >-
    Find out more about the
    project at [https://www.boredapi.com](https://www.boredapi.com).  <br/><br/> **NOTE** The Bored API is public and requires no authentication to use. 
  version: 1.0.0
servers:
  - url: https://www.boredapi.com
paths:
  /api/activity:
    get:
      tags:
        - Bored? This API finds activities to keep you engaged. 
      summary: Use this API endpoint to find activities to do. If you leave all the parameters empty, a random activity will be suggested for you. If you specify any combinations of the parameters, the activity returned will match your specifications.  
      description:  You may specify any combinations of <br/> <br/> 1.Type of the activity ("education", "recreational", "social", "diy", "charity", "cooking", "relaxation", "music", "busywork")  <br/> 2. Number of activity participants  <br/> 3. Price index from [0-1] where 0 is free and 1 is super expensive <br/> 4. Minimum price index from [0-1]
       <br/> 5. Maximum price index from [0-1]  <br/> 6. Accessibility index from [0-1] where 0 is effortless and 1 is super difficult <br/>  7. Minimum accessibility index from [0-1]  <br/> 8. Maximum accessibility index from [0-1] <br/> 9. Integer from [1000000,9000000] to represent the unique ID of an activity  <br/><br/> If you do not specify any parameters, a random activity will be returned. <br/> <br/>The return is in Json format.
      
      operationId: getActivity
      parameters:
        - name: type
          in: query
          description: Optional. Accepts an activity type from the drop-down list. 
          required: false
          schema:
            type: string
            enum:
              - education
              - recreational
              - social
              - diy
              - charity
              - cooking
              - relaxation
              - music
              - busywork
       
        - name: participants
          in: query
          description: Optional. Accepts an integer to represent the number of participants needed for this activity. <br/>**TIP** Usually it is an integer from 1 to 8.
          schema:
            type: integer
        - name: price
          in: query
          description: Optional. Accepts a number from 0.0 to 1.0 to represent the price index. 0 means free and 1 means very expensive.  <br/> **TIP** So far the Bored API database does not have activities with price index higher than 0.8. 
          required: false
          schema:
            type: number
        - name: minprice
          in: query
          description: Optional. Accepts a number from 0.0 to 1.0 to represent the lower bound price index you want for your activity. 
          required: false
          schema:
            type: number
        - name: maxprice
          in: query
          description: Optional. Accepts a number from 0.0 to 1.0 to represent the upper bound price index you want for your activity. 
          required: false
          schema:
            type: number
            
        - name: accessibility
          in: query
          description: Optional. Accepts a number from 0.0 to 1.0 to represent the difficulty level of the activity. 0 means very easy and 1 means very difficult. 
          required: false
          schema:
            type: number
        
        - name: minaccessibility. 
          in: query
          description: Optional. Accepts a number from 0.0 to 1.0 to represent the lower bound accessibility level. 
          required: false
          schema:
            type: number
            
        - name: maxaccessibility. 
          in: query
          description: Optional. Accepts a number from 0.0 to 1.0 to represent the upper bound accessibility level. 
          required: false
          schema:
            type: number
            
        - name: key
          in: query
          description: Optional. Accepts an integer from 1000000 to 9999999 to represent the unique ID of an activity. <br/>**TIP**  Do not include thousand seperator in your input integer. 
          required: false
          schema:
            type: integer
          
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  activity:
                    type: string
                    description: internal parameter
                    example: Learn how to beatbox
                  type:
                   type: string
                   description: internal parameter
                   example: recreational
                  participants:
                   type: integer
                   description: internal parameter
                   example: 1 
                  price:
                    type: number
                    description: Internal parameter
                    example: 0
                  link:
                    type: string
                    description: Internal parameter
                    example: https://en.wikipedia.org/wiki/Beatboxing
                  key:
                    type: integer
                    description: Internal parameter
                    example: 8731710
                  accessibility:
                    type: number
                    description: Internal parameter
                    example: 1
        404:
            description: Not found response
            content:
             text/plain:
              schema:
                title: No activity found
                type: string
                example: No activity found 
 
