openapi: 3.0.1
info:
  title: Swagger UI for the Bored API
  description: >-
    This is a Swagger page for the Bored API. Find out more about the
    project at [https://www.boredapi.com](https://www.boredapi.com).  No
    authentication is required for using this API.
  version: 1.0.0
servers:
  - url: https://www.boredapi.com
paths:
  /api/activity:
    get:
      tags:
        - What to do when you are bored? Use this API to find activities to entertain you. 
      summary: Use this API to find things to do when you are bored. 
      description:  You can specify any combinations of the parameters below. If no parameters are specified, a random activity will be returned.You will get a Json response containing the activity description, type of activity, a unique key for the activity, the price indicator from 0-1, accessibility indicator from 0-1, the number of participants suggested.
      operationId: getInventory
      parameters:
        - name: type
          in: query
          description: Optional. Accepts an activity type from the drop-down list. 
          required: false
          schema:
            type: string
            enum:
              - education
              - recreational
              - social
              - diy
              - charity
              - cooking
              - relaxation
              - music
              - busywork
       
        - name: participants
          in: query
          description: Optional. The number of people that this activity involves from 1 to 10.
          schema:
            type: integer
        - name: price
          in: query
          description: Optional. accepts a number from 0 to 1. The return will match the exact price specified. 
          required: false
          schema:
            type: number
        - name: minprice
          in: query
          description: Optional. The mimimum price to start with. 
          required: false
          schema:
            type: number
        - name: maxprice
          in: query
          description: Optional. The maxinum price. 
          required: false
          schema:
            type: number
            
        - name: accessibility
          in: query
          description: Optional. A factor from [0,1] describing how possible an event is to do with zero being the most accessible. 
          required: false
          schema:
            type: number
        
        - name: minaccessibility. 
          in: query
          description:  miminum accessibility from [0,1]
          required: false
          schema:
            type: number
            
        - name: maxaccessibility. 
          in: query
          description: Optional. A factor describing how possible an event is to do with zero being the most accessible
          required: false
          schema:
            type: number
            
        - name: key
          in: query
          description: Optional. Accepts an integer from 1000000 to 9999999 to represent the unique ID of an activity. Do not include thousand seperator in your integer. 
          required: false
          schema:
            type: integer
          
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
