openapi: 3.0.1
info:
  title: Swagger UI for the Bored API
  description: >-
    Find out more about the
    project at [https://www.boredapi.com](https://www.boredapi.com).  <br/><br/> **NOTE** The Bored API is public and requires no authentication to use. 
  version: 1.0.0
servers:
  - url: https://www.boredapi.com
paths:
  /api/activity:
    get:
      tags:
        - Bored? This API finds activities to keep you engaged. 
      summary: Use this API endpoint to find activities to do. 
      description:  You can specify any combinations of the parameters below including type of activity, number of participants, price index from 0-1 where 0 is free and 1 very expensive, accessibility index from 0-1 where 0 being very easy to do and 1 being super difficult.The key parameter accepts an integer to represent the unique ID of an activity.  <br/><br/> If you do not specify any parameters, a random activity will be returned.
      
      operationId: getActivity
      parameters:
        - name: type
          in: query
          description: Optional. Accepts an activity type from the drop-down list. 
          required: false
          schema:
            type: string
            enum:
              - education
              - recreational
              - social
              - diy
              - charity
              - cooking
              - relaxation
              - music
              - busywork
       
        - name: participants
          in: query
          description: Optional. Accepts an integer to represent the number of participants needed. Usually it is an integer from 1 to 8.
          schema:
            type: integer
        - name: price
          in: query
          description: Optional. accepts a number from 0 to 1. The return will match the exact price specified. 
          required: false
          schema:
            type: number
        - name: minprice
          in: query
          description: Optional. The mimimum price to start with. 
          required: false
          schema:
            type: number
        - name: maxprice
          in: query
          description: Optional. The maxinum price. 
          required: false
          schema:
            type: number
            
        - name: accessibility
          in: query
          description: Optional. A factor from [0,1] describing how possible an event is to do with zero being the most accessible. 
          required: false
          schema:
            type: number
        
        - name: minaccessibility. 
          in: query
          description:  miminum accessibility from [0,1]
          required: false
          schema:
            type: number
            
        - name: maxaccessibility. 
          in: query
          description: Optional. A factor describing how possible an event is to do with zero being the most accessible
          required: false
          schema:
            type: number
            
        - name: key
          in: query
          description: Optional. Accepts an integer from 1000000 to 9999999 to represent the unique ID of an activity. Do not include thousand seperator in your integer. 
          required: false
          schema:
            type: integer
          
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  activity:
                    type: string
                    description: internal parameter
                    example: Learn how to beatbox
                  type:
                   type: string
                   description: internal parameter
                   example: recreational
                  participants:
                   type: integer
                   description: internal parameter
                   example: 1 
                  price:
                    type: number
                    description: Internal parameter
                    example: 0
                  link:
                    type: string
                    description: Internal parameter
                    example: https://en.wikipedia.org/wiki/Beatboxing
                  key:
                    type: integer
                    description: Internal parameter
                    example: 8731710
                  accessibility:
                    type: number
                    description: Internal parameter
                    example: 1
        404:
            description: Not found response
            content:
             text/plain:
              schema:
                title: request not found
                type: string
                example: Request not found   
