openapi: 3.0.1
info:
  title: Swagger Bored API
  description: >-
    This is a Swagger page for the Bored API. You can find out more about the
    project at [https://www.boredapi.com](https://www.boredapi.com).  No
    authentication is required for this API.
  version: 1.0.0
servers:
  - url: https://www.boredapi.com/api
paths:
  /activity:
    get:
      tags:
        - Bored
      summary: Returns pet inventories by status
      description: Returns a map of status codes to quantities
      operationId: getInventory
      parameters:
        - name: type
          in: query
          description: Optional parameter for recreation type.
          schema:
            type: string
            enum:
              - education
              - recreational
              - social
              - diy
              - charity
              - cooking
              - relaxation
              - music
              - busywork
        - name: key
          in: query
          description: Optional parameter for recreation type.
          schema:
            type: integer
        - name: participants
          in: query
          description: Optional parameter for participants number.
          schema:
            type: integer
        - name: price
          in: query
          description: Optional parameter for a link.
          schema:
            type: integer
        - name: link
          in: query
          description: Optional parameter for the price.
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
components: {}
